/*---------Header-----------*/

header{
     background-color: brown;
     nav{
          div{
               a{
               margin-right: 50px;
               }
          }
     }
}

.btn{
    color: rgba(255, 222, 172, 0.947);
    border: 2px solid rgba(255, 222, 172, 0.947)!important;
    &:hover{
    color: brown;
    background-color: rgba(255, 222, 172, 0.947);
    }
    &:active{
     color: brown!important;
     background-color: rgba(255, 222, 172, 0.947)!important;
    }
}

.nav-link{
    color: rgba(255, 222, 172, 0.947);
    &:hover{
    color:  rgb(255, 196, 0);
    transition: 1s;
    }
}

.mediterranea{
    font-size: 60px;
}
