
/*------------Main------------*/
@use "../base/funcionalidades" as *;
@use 'sass:list';

.caja-1{
    color: brown;
    @include flex (flex, space-between, center)
}

.caja-2{
    color: black;
    @include flex (flex, space-around, left)
}

.tarjeta-1{
    border-radius: 5px;
    @extend %tarjeta;
}

.tarjeta-2{
    border-radius: 20px;
    @extend %tarjeta;
}

.medialunas{
    width: 1525px;
    height: 700px;
    background-position: center;
}

h1{
    text-align: center;
    font-size: 55px;
}

h2{
    font-size: 40px;
}

.nosotros{
    display: flex;
    margin: 100px;
    div{
    margin: 20px;
        p{
        justify-content: center;   
        }
        a{
        text-decoration: none;
        color:  $color-link;
        background-color: $color-contraste;
        border-radius: 10px;
        padding: 5px;
        height: 30px;
        width: 80px;
        margin: 60px;
        display: flex;
        align-items: center;
            &:hover{
                color: rgb(255, 232, 197);
                transition: 0.4s;
            }
            &:active{
            background-color: rgb(255, 232, 197);
            color: brown;
            }
        }
    }
    img{
     height: 200px;
    }
}

.nuestros-productos{
    h2{
    text-align: center;
    margin: 80px;
    }
    div{
        div{
            h3{
            font-size: 40px;
            text-align: center;
            margin: 25px;
            }
            a{
            color: list.nth($colores, 2);
            background-color: $color-contraste;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
               &:hover{
                background-color: bisque;
                color: $color-contraste;
                transition: 0.2s;
               }
            }
        }
        
        div{
            h3{
            font-size: 40px;
            text-align: center;
            margin: 25px;
            }
            a{
            color:   rgb(255, 222, 172);
            background-color: $color-contraste;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
                &:hover{
                background-color: bisque;
                color: $color-contraste;
               }
            }
        }
        div{
            h3{
            font-size: 40px;
            text-align: center;
            margin: 25px;
            }
            a{
            color:   rgb(255, 222, 172);
            background-color: $color-contraste;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
                &:hover{
                background-color: bisque;
                color: $color-contraste;
               }
            }
        }
        div{
            h3{
            font-size: 40px;
            text-align: center;
            margin: 25px;
            }
            a{
            color:   rgb(255, 222, 172);
            background-color: $color-contraste;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
                &:hover{
                background-color: bisque;
                color: $color-contraste;
               }
            }
        }
    }
}

main{
    section{
        div{
            a{
                text-decoration: none;
            }
        }
    }
}

.productos2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.division-productos{
    width: 310px;
    height: 450px;
    text-align: center;
    margin: 13px;
    border: 5px solid $color-contraste;
}

p{
    font-size: 20px;
}

 /* -----------NOSOTROS------------- */

 .principio{
    background-image: url(../img/Historia.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.principio{
    h1{
    font-size: 55px;
    color: list.nth($colores, 1);
    line-height: 700px;
    }
}

.historia-principio{
    margin: 40px;
}

.parrafo-historia{
    font-size: 25px;
}

.parrafo-principios{
    text-align: center;
    line-height: 50px;
}

.subtitulo-comienzos{
    text-align: center;
}

.comienzos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.imagen-comienzos{
    display: flex;
    width: 600px;
    height: 700px;
    margin: 20px;
}

.parrafo-comienzos{
    flex-direction: column;
    width: 650px;
    font-size: 22px;
}

.moto{
    margin: 25px;
}

.grid-img{
    display: flex;
    justify-content: space-between;
}


/* ------------------CATALOGO------------------ */

.grid-catalogo{
    height: 500px;
    margin: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 10px;
    div{
        img{
        width: 100%;
        height: 100%;
        }
    }
}

.item-catalogo{
    height: 400px;
    position: relative;
    &:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
    }
    h3{
    position: absolute;
    bottom: -1;
    color: $color-neutro;
    background-color: rgba(165, 42, 42, 0.822);
    width: 100%;
    padding: 5px;
    }
}

.panificados{
    margin: 15px;
}


 /* ------------------PEDIDOS------------------ */

.pedidos{
    background-image: url(../img/pedidos.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1{
    line-height: 600px;
    text-align: left;
    padding: 150px;
    }
}

.div-pedidos{
    width: 310px;
    height: 450px;
    text-align: center;
    margin: 13px;
    border: 5px solid brown;
}

.sec-populares{
    padding: 150px;
    div{
        div{
            a{
            color:rgb(255, 222, 172);
            background-color: brown;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            &:hover{
            background-color: bisque;
            color: brown;
            transition: 0.2s;
            }
            }
            h3{
            margin: 30px;
            }
        }
    }
}

.populares{
    color: rgb(181, 31, 31);
    font-size: 50px;
    text-align: center;
}

.gratis{
    text-align: center;
    margin: 40px;
}

.div-populares{
    display: flex;
    justify-content: center;
    

}

.despacho{
    display: flex;
    justify-content: center;
}

.llevar{
    margin: 30px;
}

.flex-pedidos{
    .pedir{
    margin: 100px;
    text-align: center;
    }
    form{
        label{
        margin: 20px;
        }
    }
}

/* ----------------CONTACTO---------------- */

.imagen-contacto{
    background-image: url(../img/contacto.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.imagen-contacto{
    h1{
    font-size: 55px;
    line-height: 700px;
    text-align: left;
    padding: 50px;
    }
}

.mapa{
    height: 500px;
    width: 700px;
}

.referencias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px;
}

.referencias{
    ul{
        li{
            text-decoration: none;
        }
    }
}
.datos{
    margin: 30px;
}
.datos{
    margin: 30px;
    h3{
    font-size: 40px;
    }
    a{
    color: $color-contraste;
    &:hover{
    color:  $color-link;
    transition: 0.1s;
    }
    }
    
}

.btn-2{
    color:  rgba(255, 222, 172, 0.947);
    border: 2px brown;
    background-color: brown;
    &:hover{
    color:brown;
    background-color: rgba(255, 222, 172, 0.947);
    }
    &:active{
    background-color: rgba(255, 222, 172, 0.947)!important;
    color: brown!important; 
    }
}

